.card{
  flex: 0 0 100%;
  display: flex;
  @media(min-width:760px){
    flex: 0 0 30%;
  }
  
  &__link{
    border-radius: 25px;
    flex: 1;
    padding: 1.875rem 0 .8125rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white-color;
    text-decoration: none;
    &:hover{      
      text-decoration: underline;
    }
    &.primary{
      background: $primary-color;
      &:hover{
        background: rgba($primary-color, .75);
      }
    }
    &.secondary{
      background: $secondary-color;
      &:hover{
        background: rgba($secondary-color, .75);
      }
    }
    &.disable{
      background: $gray-color;
      pointer-events: none;
    }
  }
  &__icon{
    fill: currentColor;
    width: 4.875rem;
    height: 4.875rem;
    margin-bottom: 1.4375rem;
    &--stroke{
      fill: none;
      stroke: currentColor;
      stroke-width:3.74px;
    }
  }
  &__title{
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  &__text{
    font-style: italic;
  }
  &--primary{
    background: $primary-color;
  }
  &--secondary{
    background: $secondary-color;
  }
  &--disable{
    background: $gray-color;
  }
  &--disable &__link{
    pointer-events: none;
    &:hover{
      color: $white-color;
    }
  }
}